<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Header</title>
<link href="../_lib/_css/ab_blog_global.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="page">
<div class="header-bar" id="header-bar">
	<div class="title-bar" id="title-bar">
        <div class="site-title" id="site-title">Aesthetic Blasphemy</div>
        <div class="site-tagline" id="site-tagline">A Million Little Things</div>
    </div>
    <div class="header-login-bar" id="header-login-bar">	
       	<form class="header-login-form" id="header-login-form" method="post" action="#">
    		<div class="login-form-username" id="login-form-username">
          Name &nbsp;<input type="text" name="user-email"/></div>
         <div class="login-form-password" id = "login-form-password"> 
          Password &nbsp;<input type="password" name="user-pass"/></div>
          <input type="button" value="Login" name="Submit" />
          </form>
                  <div class="header-logged-in" id="header-logged-in">
        	Welcome {$user}.
            <a href="#">Dashboard</a>
            <a href="#">Logout</a>
        </div>
    	</div>     	
    </div>
 <div id="navbar" class="navbar">
 	<ul id="navitems">
    	<li class="navitem"><a href="#">Home</a></li>
        <li class="navitem"><a href="#">Blog</a></li>
        <li class="navitem"><a href="#">Tutorials</a></li>
        <li class="navitem"><a href="#">About Me</a></li>
    </ul>
 </div>
 <div id="banner" class="banner">
 	{Post Animation Content will go here}
 </div>
    
<div id="content-bar" class="content-bar">
<h3>Beauty and the Beast</h3>

	<p>&nbsp;</p>

<div style="text-align: center;"><img alt="Moon Girl" src="http://3.bp.blogspot.com/-RwnOyHl3Oks/UDkHk0VEs8I/AAAAAAAAGOg/RjgIEYoZVso/s400/5713009.jpg" /></div>

<p><span style="color:rgb(0, 0, 0); font-family:consolas">You&#39;re beautiful, and I cannot trust you with hand picking beautiful things for me. The fault is not yours though, but that my view of beauty is forever skewed, and look who is responsible.</span><br />
&nbsp;</p>

<div style="color: rgb(0, 0, 0); font-family: Consolas; line-height: 18px; text-align: center;"><strong><em>You!&nbsp;</em></strong></div>

<p><br />
<span style="color:rgb(0, 0, 0); font-family:consolas">And why I cannot trust you with choosing beauty? Because you see everything and find it beautiful. I don&#39;t and I am helpless when you do it, I am.</span><br />
&nbsp;</p>

<div style="color: rgb(0, 0, 0); font-family: Consolas; line-height: 18px; text-align: center;"><em><strong>&nbsp;I am ugly!</strong></em></div>

<div id="comments-bar" class="comments-bar">
	<details>
    	<summary> {n} Comments so far </summary>
		<ul class="comments">
    	<li>
        	<details>
		        <summary>This is a nice comment</summary>
                <p>OK, so I was just kidding in the summary, this is just another annoying comment</p>
            </details>
         </li>
             	<li>
        	<details>
		        <summary>This is another nice comment</summary>
                <p>I was kidding iyet again, am I annoying you?</p>
            </details>
         </li>
   	</ul>
    </details>
</div>

</div>


<div id="sidebar" class="sidebar">
	Typical Sidebar material goes here.
    <pre>
    <p>LOREM IPSUM</p>    
    
    
    <p>LOREM IPSUM</p>    
    
    
    <p>LOREM IPSUM</p>
    <p>LOREM IPSUM</p>
    
    
    
    <p>LOREM IPSUM</p>
    <p>LOREM IPSUM</p>
    <p>LOREM IPSUM</p>
    <p>LOREM IPSUM</p>
    
    
    
    
    <p>LOREM IPSUM</p>
    <p>LOREM IPSUM</p>
    <p>LOREM IPSUM</p>
    
    
    <p>LOREM IPSUM</p>
    
    
    
    
    
    
    <p>LOREM IPSUM</p>
    </pre>
</div>
<div id="footer" class="footer">
	<emp>Aesthetic Blasphemy 2013(c) Content Protected by Creative Commons and GPL</emp>
    </div>
</div>
</body>
</html>
